<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
<servlet-name>submitanswercontroller</servlet-name>
<servlet-class>com.webwork.studyonline.controller.SubmitAnswerController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>submitanswercontroller</servlet-name>
<url-pattern>/SubmitAnswer</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>feedbackcontroller</servlet-name>
<servlet-class>com.webwork.studyonline.controller.FeedbackController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>feedbackcontroller</servlet-name>
<url-pattern>/saveFeedback</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>subjectcontroller</servlet-name>
<servlet-class>com.webwork.studyonline.controller.SubjectController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>subjectcontroller</servlet-name>
<url-pattern>/newSubject</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>userdeletecontroller</servlet-name>
<servlet-class>com.webwork.studyonline.controller.UserDeleteController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>userdeletecontroller</servlet-name>
<url-pattern>/deleteUser</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>logoutcontroller</servlet-name>
<servlet-class>com.webwork.studyonline.controller.LogoutController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>logoutcontroller</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>

</web-app>